<%- include('../partials/header.ejs') %>
  <section class="new-listing">
    <h1>
      <%=title%>
    </h1>
    <!-- Page to create new listing -->
    <form action="/listings" method="POST">
      <div class="new-inputs">
        <div class="new-title-price">
          <label>Title:
            <input type="text" name="title" required>
          </label><br>

          <label>Price: $
            <input type="number" name="price" min="0" required>
          </label><br>
        </div>
        <label class="new-description">Description:<br />
          <input type="text" name="description" required>
        </label><br>

        <!-- <label>Image:
            <input type="file" id="image" name="image" value=""/>
        </label> -->
      </div>
      <div class="new-submit">
        <button type="submit">Add Listing</button>
      </div>

    </form>
    <p>
      <%= errorMsg %>
    </p>
  </section>

  <%- include('../partials/footer.ejs') %>