<%- include('./partials/header.ejs') %>

  <header class="header">
    <h1>JTE Collective</h1>
    <div class="nav-buttons">
      <button class="button">Browse</button>
      <button class="button">New Listing</button>
    </div>
  </header>
  <section class="categories">
    <div class="category">Category 1</div>
    <div class="category">Category 2</div>
  </section>

  <%- include('./partials/footer.ejs') %>